@import "react-responsive-carousel/lib/styles/carousel.min.css";
:root {
  --primary: #007ACC;
  --secondary: #2E3A59;
  --accent: #E63946;
  --background: #F7FAFC;
  --text: #333333;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}

h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}

h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
}

.btn {
  font-family: "Merriweather", serif;
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}
.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}

.btn-github {
  color: var(--white);
  background-color: var(--accent);
  border: var(--github);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
          box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
  margin-top: 20px;
}
.btn-github:hover {
  color: var(--accent);
  background-color: var(--white);
}

.text-lg {
  color: var(--secondary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.text-md {
  color: var(--secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.text-md:hover {
  cursor: pointer;
}

.text-sm {
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.section--title {
  color: var(--text);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sub--title {
  color: var(--text);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 85px;
  background: var(--white);
  -webkit-box-shadow: 0px 5px 80px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar--items > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 43px;
  text-decoration: none;
}
.navbar--items ul > li > a {
  text-decoration: none;
}

.navbar--content {
  color: var(--secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.navbar--content:hover {
  color: var(--primary);
}

.navbar--active-content {
  color: var(--primary);
}

.name-logo:hover {
  cursor: pointer;
}

.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.333px 85.333px 133.333px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
  background-color: var(--background);
}

.hero- -section--content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}

.hero--section--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 21.333px;
}

.hero--section--content--box > button {
  margin-top: 21.333px;
}

.hero--section--title {
  color: var(--text);
  font-size: 74.667px;
  font-weight: 700;
  line-height: 90px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.hero--section--title--color {
  color: var(--primary);
}

.hero--section-description {
  color: var(--secondary);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.hero--section--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero--section--img > img {
  width: 100%;
  height: 100%;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33vw;
  height: 30vh;
  margin: 0 auto;
}
.logo-container .logo {
  width: 100%;
  height: auto;
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

@media (max-width: 768px) {
  .logo-container {
    width: 75vw;
    height: 50vh;
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.skills--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 107px;
}

.skills--section--heading {
  color: var(--text);
  font-size: 64px;
  font-weight: 700;
  line-height: 120px;
}

.skills--section--container {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 43px;
  grid-template-columns: repeat(3, 1fr);
}

.skills--section--card {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--background);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  border-radius: 11px;
  min-height: 150px;
}
.skills--section--card:hover {
  border-bottom: 4px solid var(--primary);
  color: var(--secondary);
}

.skills--section--description {
  color: var(--secondary);
  color: var(--text);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.skills--section--description li.with--icon:nth-child(1) {
  background-image: url("../../public/Images/html.png");
}
.skills--section--description li.with--icon:nth-child(2) {
  background-image: url("../../public/Images/css.png");
}
.skills--section--description li.with--icon:nth-child(3) {
  background-image: url("../../public/Images/javascript.png");
}
.skills--section--description li.with--icon:nth-child(4) {
  background-image: url("../../public/Images/react.png");
}
.skills--section--description li.with--icon--2:nth-child(1) {
  background-image: url("../../public/Images/node.png");
}
.skills--section--description li.with--icon--2:nth-child(2) {
  background-image: url("../../public/Images/express.png");
}
.skills--section--description li.with--icon--2:nth-child(3) {
  background-image: url("../../public/Images/mongodb.png");
}
.skills--section--description li.with--icon--2:nth-child(4) {
  background-image: url("../../public/Images/postgres.png");
}
.skills--section--description li.with--icon--3:nth-child(1) {
  background-image: url("../../public/Images/sass.png");
}
.skills--section--description li.with--icon--3:nth-child(2) {
  background-image: url("../../public/Images/git.png");
}
.skills--section--description li.with--icon--3:nth-child(3) {
  background-image: url("../../public/Images/github.png");
}
.skills--section--description li.with--icon--3:nth-child(4) {
  background-image: url("../../public/Images/api.png");
}

.skills--section--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  border-radius: 11px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.1);
}

.skills--section--card--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.skills--section--title {
  color: var(--text);
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

.skills--section--description li.with--icon {
  list-style: none;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 2px;
  padding-left: 40px;
  margin-bottom: 15px;
}

.skills--section--description li.with--icon--2 {
  list-style: none;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 2px;
  padding-left: 40px;
  margin-bottom: 15px;
}

.skills--section--description li.with--icon--3 {
  list-style: none;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 2px;
  padding-left: 40px;
  margin-bottom: 15px;
}

.about--section {
  display: grid;
  padding: 130px 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 114px;
  grid-template-columns: repeat(2, 1fr);
}

.about--section--img > img {
  width: 100%;
  height: 100%;
}

.portfolio--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 112px 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 80px;
}

.portfolio--container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.portfolio--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 21.3px;
}

.portfolio--section--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 42.6px;
  width: 100%;
}

.portfolio--section--img {
  border-radius: 8px;
  width: 100%;
}
.portfolio--section--img > img {
  width: 100%;
}
.portfolio--section--img video {
  height: 75%;
}

.portfolio--section--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 500px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  background: #fff;
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 8px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;
}
.portfolio--section--card:hover path {
  stroke: var(--github);
}
.portfolio--section--card::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.33px;
}

.portfolio--section--card--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.portfolio--section--title {
  color: var(--text);
}

.portfolio--link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-weight: 600;
}
.portfolio--link:hover {
  stroke: var(--primary);
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
}
.portfolio--link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.portfolio--link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.33px;
}

.contact--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 65px;
}

.contact--form--container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, auto);
  width: 40%;
  row-gap: 32px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 32px;
}

.contact--label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 11px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  width: 100%;
}

.contact--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--primary);
  background: var(--white);
}

.contact--form--button {
  display: block;
  margin: 0 auto;
}

.footer--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 107px 85px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: var(--background);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.footer--link--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.footer--items > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 43px;
  text-decoration: none;
}
.footer--items ul > li > a {
  text-decoration: none;
}

.footer--social--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.footer--social--icon > ul {
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16.66px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer--icon {
  vertical-align: middle;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.footer--icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.divider {
  width: 0;
  height: 1.5px;
  background-color: black;
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

.animate-width {
  width: 100%;
}

.reverse-width {
  width: 0;
}

.footer--content--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer--content {
  color: var(--text);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: #2E3A59;
  border-radius: 0.625rem;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.not-found-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
}
.not-found-container .error-title {
  font-size: 4rem;
  font-weight: bold;
  color: #5e3bee;
  margin-bottom: 10px;
}
.not-found-container .error-message {
  font-size: 2rem;
  color: #282938;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1800px) {
  .hero--section--title {
    font-size: 68px;
    line-height: 70px;
  }
  .skills--section--title {
    font-size: 28px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 1600px) {
  .skills--section--heading {
    font-size: 54px;
    line-height: 70px;
  }
  .skills--section--container {
    gap: 16px;
  }
  .skills--section--card {
    gap: 28px;
  }
  .skills--section--card--content {
    gap: 20px;
  }
  .skills--section--title {
    font-size: 23px;
    line-height: 30px;
  }
  .skills--section--description {
    font-size: 17.333px;
    line-height: 27px;
  }
}
@media only screen and (max-width: 1200px) {
  .btn-outline-primary {
    display: none;
  }
  .btn-primary {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 42%;
  }
  .hero--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 70px;
  }
  .hero--section--title {
    text-align: center;
    font-size: 35px;
    line-height: 40px;
  }
  .hero--section-description {
    text-align: center;
  }
  .footer--content {
    text-align: center;
  }
  .skills--section--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .portfolio--section--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio--container-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer--link--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer--items > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer--content--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills--section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .portfolio--container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero--section--content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero--section--content--box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .footer--container {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about--section--img {
    width: 75%;
    height: 75%;
  }
  .skills--section--heading {
    font-size: 35px;
    line-height: 40px;
  }
  .sections--heading {
    font-size: 35px;
    line-height: 40px;
  }
  .contact--form--container {
    width: 100%;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .footer--social--icon > ul {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .divider {
    margin: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 200;
  }
  .navbar--items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(255, 255, 255);
    top: -20rem;
    left: 0;
    width: 100%;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    z-index: -1000;
  }
  .navbar--items ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items.active {
    top: 30px;
  }
  .nav__hamburger.active:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(0.45rem, 0.1875rem);
            transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }
  .nav__hamburger.active:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburger.active:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
            transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}
@media only screen and (max-width: 600px) {
  .hero--section-title {
    font-size: 20px;
  }
  .btn-primary {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 57px;
    margin: 0 auto;
    display: block;
  }
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6vh;
  }
}