:root {
  --primary: #5e3bee;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}

.cube--container {
  width: 90vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.cube--spinner {
  -webkit-animation-name: spincube;
          animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center center 0;
          transform-origin: center center 0;
  width: 200px;
  height: 200px;
}
.cube--spinner div {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 20px 0px rgb(223, 185, 255);
          box-shadow: 0 0 20px 0px rgb(223, 185, 255);
}
.cube--spinner .face1 {
  -webkit-transform: rotateY(0deg) translateZ(100px);
          transform: rotateY(0deg) translateZ(100px);
  color: #5ed4f4;
}
.cube--spinner .face2 {
  -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(100px);
          transform: rotateY(90deg) rotateZ(-90deg) translateZ(100px);
  color: #f06529;
}
.cube--spinner .face3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
          transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  color: #28a4d9;
}
.cube--spinner .face4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
          transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  color: #efd81d;
}
.cube--spinner .face5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
          transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  color: #ec4d28;
}
.cube--spinner .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
  color: #306998;
}

@-webkit-keyframes spincube {
  from, to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateX(90deg);
            transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
            transform: rotateY(-270deg) rotateX(90deg);
  }
  88% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes spincube {
  from, to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateX(90deg);
            transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
            transform: rotateY(-270deg) rotateX(90deg);
  }
  88% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
@media screen and (max-width: 1200px) {
  .cube--container {
    width: 90vw;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
}