@import 'variables';

.skill-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $skill-display-font-size;
    height: $skill-display-height;
    width: $skill-display-width;
    color: $skill-display-color;
    background: $skill-display-background;
    border: 1px solid $skill-display-border-color;
    box-shadow: $skill-display-box-shadow;
    border-radius: $skill-display-border-radius;
    margin: $skill-display-margin;
    text-align: center;
    letter-spacing: $skill-display-letter-spacing;
    transition: $skill-display-transition;
}

.skill-display div {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .hero--section-title {
        display: none;
    }
}
