@import 'variables';

.cube--container {
    width: $cube-container-width;
    height: $cube-container-height;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cube--spinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: $cube-animation-duration;
    transform-style: preserve-3d;
    transform-origin: center center 0;
    width: $cube-width;
    height: $cube-height;

    div {
        position: absolute;
        width: $cube-width;
        height: $cube-height;
        border: 1px solid $cube-border-color;
        background: $cube-background;
        text-align: center;
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $cube-box-shadow;
    }

    .face1 {
        transform: rotateY(0deg) translateZ(100px);
        color: $cube-face1-color;
    }
    .face2 {
        transform: rotateY(90deg) rotateZ(-90deg) translateZ(100px);
        color: $cube-face2-color;
    }
    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
        color: $cube-face3-color;
    }
    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
        color: $cube-face4-color;
    }
    .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
        color: $cube-face5-color;
    }
    .face6 {
        transform: rotateX(-90deg) translateZ(100px);
        color: $cube-face6-color;
    }
}

@keyframes spincube {
    from, to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }
    88% {
        transform: rotateX(90deg);
    }
}

@media screen and (max-width: 1200px) {
    .cube--container {
        width: $cube-container-width;
        height: $cube-container-height-small;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}
