.cube--container {
    width: 90vw;
    height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .cube--spinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: center center 0;
    width: 200px;
    height: 200px;
    
    div {
      position: absolute;
      width:200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px rgb(223, 185, 255);
    }

    .face1 {
        transform: rotateY(0deg) translateZ(100px);
        color: #5ed4f4;
    }
    .face2 {
        transform: rotateY(90deg) rotateZ(-90deg) translateZ(100px);
        color: #f06529
    }
    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
        color: #28a4d9
    }
    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
        color: #efd81d
    }
    .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
        color: #ec4d28
    }
    .face6 {
        transform: rotateX(-90deg) translateZ(100px);
        color: #448e02;
    }
}

@keyframes spincube {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }
    88% {
        transform: rotateX(90deg)
    }
}