.skill-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
    height: 50px; 
    width: 200px; 
    color: #fff; 
    background: rgba(0, 0, 0, 0.5); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
    letter-spacing: 0.1em;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skill-display div {
    width: 100%;
  }

  @media only screen and (max-width: 1200px) {
    .hero--section-title {
      display: none;
    }
  }